<%-include("../layouts/adminHeader.ejs")%>
<style>
  .error{
    color:red
  }
</style>

<header class="main-header navbar">
  <div class="col-search">
      <form class="searchform">
          <div class="input-group">
              <input list="search_terms" type="text" class="form-control" placeholder="Search term" style="margin-left: 22em">
              <button class="btn btn-light bg"  type="button"> <i class="material-icons md-search"></i></button>
          </div>
          <datalist id="search_terms">
              <option value="Products">
              <option value="New orders">
              <option value="Apple iphone">
              <option value="Ahmed Hassan">
          </datalist>
      </form>
  </div>
  <div>
      <a href="/admin/adminlogut" class="btn btn-primary">Logout</a>
  </div>
</header>
<section class="content lists col-md-10">
  <div
    class="box border rounded p-2 d-flex flex-column align-items-center justify-content-center"
  >
    <div class="w-50 shadow p-5">
      <h2 class="text-center my-3">Edit Category</h2>

      <form id="categoryEdit" action="/admin/updateCatogory<%=edit._id%>" method="post" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="category" class="form-label text-secondary"
            >Category Name</label
          >
         
          <input
            type="text"
            class="form-control"
            id="categoryName"
            aria-describedby="emailHelp"
            name="categoryName"
            value="<%=edit.categoryName%>"
          />
        </div>
        <div class="mb-3">
          <label for="description" class="form-label text-secondary"
            >Category Description</label
          >
          <textarea id="w3review" name="description" class="form-control"
          id="description" aria-describedby="emailHelp"  id="categoryName" rows="4" cols="50"  value="<%=edit.description%>" style="white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;" required><%=edit.description%></textarea>
          <!-- <input
            type="text"
            class="form-control"
            id="description"
            aria-describedby="emailHelp"
            name="description"
            value="<%=edit.description%>"
            required
          /> -->
        </div>
        <div class="mb-3 d-flex gap-3">
          <div>
            <label for="image" class="form-label">Category Image</label>
            <img src="../images/categoriedImages/<%=edit.image%>" data-src="../images/categoriedImages/<%=edit.image%>" alt="" id="imag1"
            style="width: 100px; height: 100px">
        <div class="input-group mb-3">
            <input name="image" id="image" type="file" class="form-control"
                placeholder="Product Image1" onchange="displayImage1(event)" >
        </div>
          </div>
        </div>
        <input
          type="hidden"
          class="hidden"
          id="_id"
          name="id"
          value=""
        />
        <div class="">
          <img
            id="image"
            src=""
            alt=""
            class="rounded img-fluid mb-3"
          />
        </div>
        <div
          id="img-container"
          class="my-3 row align-items-center"
          style="height: 350px; display: none"
        >
          <img src="" class="img-fluid" id="croppedImg" alt="" />
        </div>
        <div class="text-center">
          <button
            type="button"
            id="cropButton"
            style="display: none"
            class="btn btn-dark w-50"
          >
            Submit
          </button>
          <button
            type="submit"
            id="submitButton"
           
            class="btn btn-dark w-50"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <!-- jquery for validate -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/additional-methods.min.js"></script>
  <script>
    
    $("#categoryEdit").validate({
                    rules:{
                        categoryName:{
                            required:true,
                            pattern:/^[a-zA-Z]/
                        },
                    description:{
                        required:true,
                        pattern: /^[a-zA-Z]/

                    }
                }
                
        })
  </script>
<script>
  function displayImage1(e){
    const imge = document.getElementById("imag1")
    imge.src = URL.createObjectURL(e.target.files[0]);
  }
  

</script>
</section>


