<%-include("../layouts/adminHeader.ejs")%>

<style>

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #f1f1f1;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

  /*
    .access{
        cursor: pointer;
    }
    body {
  text-align: center;
  padding-top: 25%;
}
.dropdown {
  position: relative;
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  background-color: #e62e46;
  border-radius: 4px;
  width: 220px;
  text-align: left;
}

.dropdown > a,
.dropdown > span {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  padding: 15px 25px 15px 15px;
  display: inline-block;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.dropdown > a:before,
.dropdown > span:before {
  position: absolute;
  right: 20px;
  top: 25px;
  content: " ";
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid white;
  cursor: none;
}

.dropdown input[type="checkbox"] {
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  margin: 0px;
  opacity: 0;
  cursor: pointer;
}

.dropdown input[type="checkbox"]:checked {
  position: fixed;
  z-index: +0;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.dropdown label {
  width: 100%;
}
.dropdown ul {
  text-align: left;
  position: absolute;
  top: 36px;
  border: 1px solid #ccc;
  border-radius: 3px;
  left: 0px;
  list-style: none;
  padding: 4px 0px;
  display: none;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.175);
  width: 220px;
  z-index: 1;
}

.dropdown input[type="checkbox"]:checked + ul {
  display: block;
}

.dropdown ul li {
  display: block;
  padding: 6px 20px;
  white-space: nowrap;
  min-width: 100px;
}

.dropdown ul li:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.dropdown ul li a {
  text-decoration: none;
  display: block;
  color: black;
}
.dropdown .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
  font-size: 1px;
  padding: 0;
}
.dropdown:hover {
  background-position: right center;
}
*/
</style>
<!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<!-- JavaScript and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-NV0ltWVd2vGAMTpfR9MxZUstwOYpi1b7ZjaOTEBnWj4dC5B+CTm8hqN6Y4xSuBx4" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-pzjw8f+UvK9zQ7zpoFwqc4u5njHR3uZ9juoYmBd6zHR7I5KkRT8CqLj4DkNJzWrN" crossorigin="anonymous"></script>

<!-- Popper.js (1.x) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

<main class="main-wrap" style="background-color: rgb(255, 255, 255); color: white;">
    <header class="main-header navbar">
        <div class="col-search">
            <form class="searchform">
                <div class="input-group">
                    <!-- <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                    <button class="btn btn-light bg"  type="button"> <i class="material-icons md-search"></i></button> -->
                </div>
                <!-- <datalist id="search_terms">
                    <option value="Products">
                    <option value="New orders">
                    <option value="Apple iphone">
                    <option value="Ahmed Hassan">
                </datalist> -->
            </form>
        </div>
        <div>
            <a href="/admin/adminlogut" class="btn btn-primary">Logout</a>
        </div>
    </header>

    <div class="container pt-2">
        <table id="example" class="table table-bordered table-hover" style="width: 100%">
            <thead>
                <tr>
                    <th scope="col" class="border-dark">#</th>

                    <th scope="col" class="border-dark">Order No</th>
                    <th scope="col" class="border-dark">Amount</th>
                    <th scope="col" class="border-dark">Payment</th>
                    <th scope="col" class="border-dark">Status</th>
                    <th class="border-dark">Action</th>
                </tr>
            </thead>
            <tbody>

            <%OrderDetails.forEach((order,index)=>{%>

            
                <tr>
                    <td><%=index+1%></td>

                    <td><button disabled="disabled">
                            <a href="/admin/adminOrder/orderStatus<%=order._id%>" class="access">
                                <%=order.orderNumber%>
                            </a>
                        </button> </td>
                    <td>₹ <%=order.grandTotalCost%></td>
                    <td> <%=order.paymentType%> </td>
                    <td><%=order.orderStatus%> </td>
                    <td>
                       
                          
                        <div class="btn-group">
                          <div class="dropdown">
                            <button class="dropbtn" type="button" width="2px" style="
                           
                            background-color: #465352;" ><i class="fa-solid fa-list-dropdown"></i>Action</button>
                           
                              <ul class="dropdown-content" aria-labelledby="dropdownMenu2">
                                <li>
                                    <a class="dropdown-item"
                                        href="/admin/orderManagement/statusP<%=order._id%>"
                                        onclick="return confirm('Are you sure you want to change the status to Pending?')">
                                        Pending
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/admin/orderManagement/statusS<%=order._id%>">
                                        Shipped
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                        href="/admin/orderManagement/statusD<%=order._id%>">
                                        Delivered
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/admin/orderManagement/statusR<%=order._id%>">
                                        Return
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                        href="/admin/orderManagement/statusC<%=order._id%> ">
                                        Cancelled
                                    </a>
                                </li>
                            </ul> 
                        
                
                          </div>
                          <div class="dropdown">
                            <!-- <button  class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button> -->
                            
                            <!-- <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <li>
                                    <a class="dropdown-item"
                                        href="/admin/orderManagement/pending/ order._id "
                                        onclick="return confirm('Are you sure you want to change the status to Pending?')">
                                        Pending
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/admin/orderManagement/shipped/order._id ">
                                        Shipped
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                        href="/admin/orderManagement/delivered/ order._id">
                                        Delivered
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/admin/orderManagement/return/ order._id ">
                                        Return
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                        href="/admin/orderManagement/cancelled/ order._id ">
                                        Cancelled
                                    </a>
                                </li>
                            </ul> -->
                        </div>
                        
                    </td>
                </tr>
            <%})%>
            </tbody>
        </table>
        
    </div>
    <div class="d-flex justify-content-center py-3">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
           
              <% for( let i = 0; i < count/limit; i++ ) { %>
                  <li class="page-item">
                    <a class="page-link" href="/admin/orderManagment?page=<%=i+1 %>"><%= i+1 %></a>
                  </li>
              <% } %>
           
          </ul>
        
      </div>
    
      <!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/bootstrap/bootstrap-dropdown.js"></script>
<script>
    $(document).ready(function() {
    $('.dropdown-toggle').dropdown();
});

</script>
<script>
    $(document ).ready(function() {
  $('.dropdown ul>li').click(function(){
    $('.dropdown ul>li').each(function(){
      $(this).removeClass('drop-selected');
    });
    $(this).toggleClass('drop-selected');
    $('.dropdown>span').text($(this).attr("val"))
  });
});
</script>
</main>


