<%-include("../layouts/adminHeader.ejs")%>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                    </div>
                    <datalist id="search_terms">
                        <option value="Products">
                        <option value="New orders">
                        <option value="Apple iphone">
                        <option value="Ahmed Hassan">
                    </datalist>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <button>
                    <a href="/admin/adminlogut">
                        Logout
                    </a>
                </button>
            </div>
        </header>
        <section class="content-main">
            <div class="content-header">
                <h2 class="content-title">Users list</h2>
               
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row gx-3">
                        <div class="col-lg-4 col-md-6 me-auto">
                            <input type="text" placeholder="Search..." class="form-control">
                        </div>
                        <div class="col-lg-2 col-md-3 col-6">
                            <select class="form-select">
                                <option>Status</option>
                                <option>Active</option>
                                <option>Disabled</option>
                                <option>Show all</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-md-3 col-6">
                            <select class="form-select">
                                <option>Show 20</option>
                                <option>Show 30</option>
                                <option>Show 40</option>
                            </select>
                        </div>
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Customer</th>
                                    <th>Email</th>
                                    <th>Number</th>
                                    <th class="text-end"> Action </th>
                                </tr>
                            </thead>
                            <tbody>
                                <%userDetails.forEach((user)=>{%>

                               
                                <tr>
                                    <td width="30%">
                                        <a href="#" class="itemside">
                                            <div class="info pl-3">
                                                <h6 class="mb-0 title"><%=user.firstName%></h6>
                                            </div>
                                        </a>
                                    </td>
                                    <td><%=user.userEmail%></td>
                                    <td><%=user.userMobile%></td>
                                    <%if(!user.isBlocked){%>
                                    <td class="text-end">
                                            <button class="btn btn-sm  btn-danger delete"  onclick="btn ('<%=user._id%>')"  id="">
                                                Block
                                            </button>
                                    </td>
                                    <%}else{%>
                                        <td class="text-end">
                                            <button class="btn btn-sm btn-success delete"  onclick="btn ('<%=user._id%>')"  id="">
                                                UnBlock
                                            </button>
                                    </td>
                                    <%}%>
                                </tr>
                                <% })%>
                            </tbody>
                        </table> <!-- table-responsive.// -->

                        <div class="d-flex justify-content-center py-3">
                            <nav aria-label="Page navigation example">
                              <ul class="pagination">
                               
                                  <% for( let i = 0; i < count/limit; i++ ) { %>
                                      <li class="page-item">
                                        <a class="page-link" href="/admin/userList?page=<%=i+1 %>"><%= i+1 %></a>
                                      </li>
                                  <% } %>
                               
                              </ul>
                            
                        </div>
                    </div>
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
            
        </section> <!-- content-main end// -->
        <style>
            .pagination{
                display: flex;
                justify-content: center;
            }
        </style>


           
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>
                    document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
     </main>
    <!-- <script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="assets/js/vendors/select2.min.js"></script>
    <script src="assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="assets/js/vendors/jquery.fullscreen.min.js"></script>
    Main Script
    <script src="assets/js/main.js" type="text/javascript"></script>  -->
    
    <script>
        
       async function page(id){

        console.log(id)
            const data = await fetch(`admin/userList`,{
                method:"GET",
                headers:{
                    "Content-Type":"application/json"
                },
                body:JSON.stringify({id})
            })
        }
        
        
        async function btn(id){
            console.log(id)
            const data =await fetch (`/admin/isBlock${id}`,{

                        method:"PATCH",
                        headers:{
                            "Content-Type":"application/json"
                        }

                    })  

            const dataRes = await data.json()

            if(dataRes.success){
                window.location.reload()
            }


        }


        // const isBlocked = document.getElementById("this.id")
        // // var userId = element.id.replace("isBlocked", "")

        // console.log(user)
        // isBlocked.addEventListener("click",async (e)=>{

        //     console.log("block btn actiad")
        //     e.preventDefault()

        //     if(isBlocked.textContent == "Block")
        //     {
            
            //     }
            // })
        </script>
<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-sellers-list.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:23 GMT -->
</body>
</html>