<%-include("../layouts/userHeader.ejs")%>
<style>
    #applyCoupen{
        display: flex;
    }
    #coupenBtn{
        display: flex;
        width: 7em;
        background-color: green;
        font-size: 1em;
        font-weight: 800;
        text-align: center;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    #coupon-container{
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    padding: 20px 0;
    margin-bottom: 20px;
    position: relative;
    }
    .coupon-card{
        display: inline-block;
        width: 200px;
        margin-right: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        transition: box-shadow 0.3s;
        cursor: pointer;
        background-color: #5cb85c;
    }


</style>
    
    <!--Body Content-->
    <div id="page-content", style="margin-top: 6em ">
    	<!--Page Title-->
    	<div class="page section-header text-center">
			<div class="page-title">
        		<div class="wrapper"><h1 class="page-width">Checkout</h1></div>
      		</div>
		</div>
        <!--End Page Title-->
        
        <div class="container">
        	<div class="row">
                <div class="col-12 col-sm-12 col-md-8 col-lg-8 main-col">
                	<!-- <form action="#" method="post" class="cart style2"> -->
              
                	<p style="font-size: large;
                    font-family: sans-serif;
                    font-weight: 800">Billing and Shipping information</p>
                    <p style="font-size: large;
                    font-family: sans-serif;
                    font-weight: 800">Select Address</p>

                    <%userAddressDetails.forEach((data)=>{%>

                  
                 <div style="width: 1em;height: 1em;   width: 27em;
                 height: 18em; border: 1px solid whitesmoke;
  box-sizing: border-box;">
                        <div style="    font-size: large;
                        font-family: sans-serif;
                        padding: 1em;">
                            Name:<%=data.name%>
                        </div>
                        <div style="font-size: large;
                        font-family: sans-serif;
                        padding: 0em 1em;">
                            <Address>
                                Address :<%=data.houseNo%>
                            </Address>
                        </div>
                        <div style=" font-size: large;
                        font-family: sans-serif;
                        padding: 1em;">
                            Mobile No:<%=data.phone%>
                        </div>
                        <div style="margin-left: 1em">
                            <button>
                                <a href="/user/editAddress<%=data._id%>">
                                <i class="fa fa-edit" style=" padding: 0.5em;
                                background-color: green">
                                 Edit</i>
                                </a>
                                </button>
                            <button onclick="deleteAddress('<%=data._id%>')"> <i class="fa fa-minus-circle" style="padding: 0.5em;
                                background-color: green"> Delete</i></button>
                        </div>
                 </div>
                 <%})%>
                 <div>
                    <button class="btn   btn-primary" style=" padding: 0.5em;
                    background-color: green;margin-top: 1em">
                    <a href="/user/addAddress">
                        Add Address
                    </a>
                </button>
                 </div>

                 <div>
                    <p id = "selectAddress" style="display: none; color: red;">Plesse Select Address</p>
                    <p style="font-size: large;
                    font-family: sans-serif;
                    font-weight: 800">
                    Select Address
                    </p>
                    <select name="select" aria-placeholder="Selelect Address" id="selectAdd" value="Selelect Address"  required style="display: block;width: 12em;">
                    <option disabled selected value="Select Address">Select Address</option>
                    <%userAddressDetails.forEach((data)=>{%>
                        <option value="<%=data._id%>"><%=data.name%></option>
                    <%})%>
                    </select>
                </div>
                <div >
                    <p style="font-size: large;
                    font-family: sans-serif;
                    font-weight: 800">Payment Method</p>
                    <form id="paymentMethodForm">
                        <input type="radio" name="paymentMethod" value="Cash on Delivery" checked>Cash on Delivery<br>
                        <input type="radio" name="paymentMethod" value="Wallet">Wallet<br>
                        <input type="radio" name="paymentMethod" value="Razorpay">Razorpay<br>
                    </form>
                    
                </div>
                <div>
                    <%if(cartTotal!=0){%>
                    <button style=" padding: 0.5em;
                    background-color: green;margin-top: 1em"   onclick="userOrder()">
                        Order
                        <i class="fa fa-arrow-circle-right">

                        </i>
                    
                    </button>
                    <%}%>
                </div>
                    <!-- </form>                    -->
            </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 cart__footer">
                	<div class="cart-note">
                    	<div class="solid-border">
							<h5><label for="CartSpecialInstructions" class="cart-note__label small--text-center">Add a note to your order</label></h5>
							<!-- <textarea name="note" id="CartSpecialInstructions" class="cart-note__input"></textarea> -->

                            <div style="display: flex; flex-direction: column; flex-wrap: wrap;">

                                <div style="display: flex;flex-direction: row; justify-content: space-between;">
    
                                    <p class="text">Total Price</p>
                                    <span>
                                        ₹
                                        <p  style="display: inline;"  id="priceTotal"><%=cartTotal%></p> 
                                    </span>
                                </div>
                                <div style="display: flex;flex-direction: row; justify-content: space-between;">
                                    <p class="text">Shipping</p>
                                    <span style="color: rgb(45, 182, 45);font-size: large;
                                    font-weight: bold;">
                                        
                                         Free shipping
                                    </span>
                                </div>
                                <div style="display: flex;flex-direction: row; justify-content: space-between; ">
                                    <p class="text">Grand Total</p>
                                    <span id="grandTotal" >
                                        <% console.log('grandTotal',cartTotal)%>
                                        ₹<%=cartTotal%>  
                                    </span>
                                </div>
                                <div id="applyCoupen">
                                    <input type="text"  id="coupenValue" name="applayCoupen" placeholder="Apply coupen">
                                    <buttonn id="coupenBtn">Apply!</button>
                                </div>
                                <div id="coupon-container">

                                    <%if(coupenData){%>
                                        <%coupenData.forEach((coupen)=>{%>
                                            <% if(!coupen.userId.includes(userId)){%>
                                                <div class="coupon-card">
                                                    <h3><%=coupen.couponCode%></h3>
                                                    <p>Discount:<%=coupen.discountPercentage%>%</p>
                                                    <p>Minimum Purchase:<span><%=coupen.minimumPurchase%></span></p>
                                                </div>
                                            <%}%>
                                        <%})%>
                                    <%}%>
                                </div>
                            </div>


						</div>
                    </div>
                 

                </div>
            </div>
        </div>
        
    </div>
    <!--End Body Content-->
    
    <!--Footer-->
    <footer id="footer">
        <div class="newsletter-section">
            <div class="container">
                <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-7 w-100 d-flex justify-content-start align-items-center">
                            <div class="display-table">
                                <div class="display-table-cell footer-newsletter">
                                    <div class="section-header text-center">
                                        <label class="h2"><span>sign up for </span>newsletter</label>
                                    </div>
                                    <form action="#" method="post">
                                        <div class="input-group">
                                            <input type="email" class="input-group__field newsletter__input" name="EMAIL" value="" placeholder="Email address" required="">
                                            <span class="input-group__btn">
                                                <button type="submit" class="btn newsletter__submit" name="commit" id="Subscribe"><span class="newsletter__submit-text--large">Subscribe</span></button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-5 d-flex justify-content-end align-items-center">
                            <div class="footer-social">
                                <ul class="list--inline site-footer__social-icons social-icons">
                                    <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on Facebook"><i class="icon icon-facebook"></i></a></li>
                                    <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on Twitter"><i class="icon icon-twitter"></i> <span class="icon__fallback-text">Twitter</span></a></li>
                                    <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on Pinterest"><i class="icon icon-pinterest"></i> <span class="icon__fallback-text">Pinterest</span></a></li>
                                    <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on Instagram"><i class="icon icon-instagram"></i> <span class="icon__fallback-text">Instagram</span></a></li>
                                    <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on Tumblr"><i class="icon icon-tumblr-alt"></i> <span class="icon__fallback-text">Tumblr</span></a></li>
                                    <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on YouTube"><i class="icon icon-youtube"></i> <span class="icon__fallback-text">YouTube</span></a></li>
                                    <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on Vimeo"><i class="icon icon-vimeo-alt"></i> <span class="icon__fallback-text">Vimeo</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
            </div>    
        </div>
        <div class="site-footer">
        	<div class="container">
     			<!--Footer Links-->
            	<div class="footer-top">
                	<div class="row">
                    	<div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                        	<h4 class="h4">Quick Shop</h4>
                            <ul>
                            	<li><a href="#">Women</a></li>
                                <li><a href="#">Men</a></li>
                                <li><a href="#">Kids</a></li>
                                <li><a href="#">Sportswear</a></li>
                                <li><a href="#">Sale</a></li>
                            </ul>
                        </div>
                        <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                        	<h4 class="h4">Informations</h4>
                            <ul>
                            	<li><a href="#">About us</a></li>
                                <li><a href="#">Careers</a></li>
                                <li><a href="#">Privacy policy</a></li>
                                <li><a href="#">Terms &amp; condition</a></li>
                                <li><a href="#">My Account</a></li>
                            </ul>
                        </div>
                        <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                        	<h4 class="h4">Customer Services</h4>
                            <ul>
 ++-                           	<li><a href="#">Request Personal Data</a></li>
                                <li><a href="#">FAQ's</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Orders and Returns</a></li>
                                <li><a href="#">Support Center</a></li>
                            </ul>
                        </div>
                        <div class="col-12 col-sm-12 col-md-3 col-lg-3 contact-box">
                        	<h4 class="h4">Contact Us</h4>
                            <ul class="addressFooter">
                            	<li><i class="icon anm anm-map-marker-al"></i><p>55 Gallaxy Enque,<br>2568 steet, 23568 NY</p></li>
                                <li class="phone"><i class="icon anm anm-phone-s"></i><p>(440) 000 000 0000</p></li>
                                <li class="email"><i class="icon anm anm-envelope-l"></i><p>sales@yousite.com</p></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--End Footer Links-->
                <hr>
                <div class="footer-bottom">
                	<div class="row">
                    	<!--Footer Copyright-->
	                	<div class="col-12 col-sm-12 col-md-6 col-lg-6 order-1 order-md-0 order-lg-0 order-sm-1 copyright text-sm-center text-md-left text-lg-left"><span></span> <a href="templateshub.net">Templates Hub</a></div>
                        <!--End Footer Copyright-->
                        <!--Footer Payment Icon-->
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 order-0 order-md-1 order-lg-1 order-sm-0 payment-icons text-right text-md-center">
                        	<ul class="payment-icons list--inline">
                        		<li><i class="icon fa fa-cc-visa" aria-hidden="true"></i></li>
                                <li><i class="icon fa fa-cc-mastercard" aria-hidden="true"></i></li>
                                <li><i class="icon fa fa-cc-discover" aria-hidden="true"></i></li>
                                <li><i class="icon fa fa-cc-paypal" aria-hidden="true"></i></li>
                                <li><i class="icon fa fa-cc-amex" aria-hidden="true"></i></li>
                                <li><i class="icon fa fa-credit-card" aria-hidden="true"></i></li>
                            </ul>
                        </div>
                        <!--End Footer Payment Icon-->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--End Footer-->
    <!--Scoll Top-->
    <span id="site-scroll"><i class="icon anm anm-angle-up-r"></i></span>
    <!--End Scoll Top-->
    <style>
        .text{
            font-size: large;
            font-weight: bold;
        }
    </style>
    
     <!-- Including Jquery -->
     <script src="assets/js/vendor/jquery-3.3.1.min.js"></script>
     <script src="assets/js/vendor/jquery.cookie.js"></script>
     <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
     <script src="assets/js/vendor/wow.min.js"></script>
     <!-- Including Javascript -->
     <script src="assets/js/bootstrap.min.js"></script>
     <script src="assets/js/plugins.js"></script>
     <script src="assets/js/popper.min.js"></script>
     <script src="assets/js/lazysizes.js"></script>
     <script src="assets/js/main.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</div>

<script>
+
</script>

<script>



 document.getElementById("coupenBtn").addEventListener("click",function(){


    const userCoupen = coupenValue.value

        if(userCoupen){
                
                // Get all elements with class "coupon-card"
            const couponCards = document.querySelectorAll('.coupon-card');

            // Loop through each coupon card
            couponCards.forEach(async card => {
                // Access the h3 element inside each card
                const h3Element = card.querySelector('h3');
                
                // Access the text content of the h3 element
                const couponCode = h3Element.textContent;

                const minimumParchase =  card.querySelector('span').textContent
                
                if(couponCode === userCoupen){                                      // check the coupon for user enter coupen is right or wrong 
                   
                   const gT =  grandTotalValue.replace(/\\s+/g, '').match(/\d+/g);

                   if(Number(gT[0])>=Number(minimumParchase)){                         // purchase amout shoud be greater than or euelto, I check for that also here

                    const data = await fetch("/shopCoupen",{
                        method:"POST",
                        headers:{
                            "Content-Type":"application/json"
                        },
                        body:JSON.stringify({userCoupen})
                    })

                 

                    const res = await data.json()

                    if(res.success){

                    await    Swal.fire({
                        icon: 'success',
                        title: 'coupen is apply',
                        showConfirmButton: false,
                        timer: 1500
                    });

                    window.location.href = "/Checkout"
                    }else if(res.coupenExist){

                      
                    await    Swal.fire({
                        icon: 'error',
                        title: 'coupen already exist',
                        showConfirmButton: false,
                        timer: 1500
                    });


                    }
                   }else{

                    await    Swal.fire({
                        icon: 'error',
                        title: `The Amount should be greater than or equalto ${minimumParchase}`,
                        showConfirmButton: false,
                        timer: 1500
                    });

                   }

                  


                }


                
                // Do something with the coupon code
                console.log('Coupon Code:', couponCode);
            });
        }

    

 })

</script>
<script>

const userWalletBalance = "<%=userWalletBalance%>"

const grandTotal = document.getElementById("grandTotal")
     const grandTotalValue = grandTotal.textContent

   console.log(grandTotalValue)

    async function userOrder(){


        let selectAdd = document.getElementById("selectAdd").value


        if(selectAdd =="Select Address")
        {
            console.log(true)

            let selectAddress = document.getElementById("selectAddress")
            selectAddress.style.display = "block"
            

            return 
        }

        const value={}
 
        new FormData(paymentMethodForm).forEach((payentMethod,key)=>{

            value[key]= payentMethod
            console.log(value)
        })
        value.selectAdd = selectAdd  

        value.grandTotal =grandTotalValue.replace(/\\s+/g, '').match(/\d+/g);


        const paymentMethod = value.paymentMethod

       if(paymentMethod === "Razorpay"){

            const genOrder = await fetch('/genOrder',{
                method:"POST",
                headers:{
                    "Content-Type":"application/json"
                },
                body:JSON.stringify(value)
            })

            const order = await genOrder.json()
            
          
            await openRazorpay(value.grandTotal,order.id)

       }else if(paymentMethod==="Cash on Delivery"){


       if(Number(value.grandTotal[0])>=5000){
    
             const data = await fetch(`/orderReceived`,{
                 method:"post",
                 headers:{
                     "Content-Type":"application/json"
                 },
                 body:JSON.stringify(value)
             })

             const resData = await data.json()

             if(resData.success)
             {
                 window.location.href = "/orderReceivedPage"
             }else(
                 alert("server error")
             )
        }else{

            await    Swal.fire({
                        icon: 'error',
                        title: 'COD Should be greater than or equel to 5000',
                        showConfirmButton: false,
                        timer: 1500
                    });


        }
        

       }else if(paymentMethod==="Wallet"){

        let check = userWalletBalance-value.grandTotal

            if(check>=0){

                const data = await fetch(`/orderReceived`,{
                    method:"post",
                    headers:{
                        "Content-Type":"application/json"
                    },
                    body:JSON.stringify(value)
                })

                const resData = await data.json()

                if(resData.success)
                {
                    window.location.href = "/orderReceivedPage"
                }else(
                    alert("server error")
                )


            }else{

            await    Swal.fire({
                        icon: 'error',
                        title: 'wallet amount is not enough',
                        showConfirmButton: false,
                        timer: 1500
                    });

            }

       }
       
      
    
   

    }

    

    
</script>
<script>

    
async function  deletData(id){


      const data = await fetch(`/deletCart${id}`,{
                    method:"DELETE",
                    headers:{
                        "Content-Type":"application/json"
                    }
                    })

            const dataRes = await data.json()

            if(dataRes.success)
            {
                window.location.href ="/viewCart"
            }
        
    }
</script>
<script>


    async function deleteAddress(id){

        swal({
            title: "Are you sure?",
            text: "you want  delete categoties",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
        .then(async(willDelete) => {
            // If the user confirms deletion
            if (willDelete) {
                console.log(id)
                const data = await fetch(`/user/daleteAdd${id}`,{
                method:"DELETE",
                headers:{
                    "Content-Type":"application/json"
                }
              })
    

                const dataRes = await data.json()

                if(dataRes.success){

                await Swal.fire({
                    title: "delete Address!",
                    text: 'Address delete',
                    icon: "success",
                    timer:1500
                    });

                
                    window.location.reload()
                }
               

            } else {
            // If the user cancels deletion
            await swal("ok");
            }
        });


 

}
</script>

<script>
     // Function to open Razorpay
     async function openRazorpay(amount, creditId) {
        try {
            // console.log('1');

           
            
            var options = {
                key: "rzp_test_LSVsVjKJgjMK1G",
                amount: "" + amount*100,
                currency: "INR",
                name: "Titen Watches",
                description: "Test Transaction",
                callback_url: "/checkout/orderPlaced",
                image: "assets1/images1/slidesshow-banners/smart-watch.png",
                credit_id: creditId,
                theme: {
                    color: "#3399cc",
                },
            };
          

            var razorpay = new Razorpay(options);
        
         
            await   razorpay.open();
            
        } catch (error) {
            console.error(error);
        }
    }
</script>
<!-- </script> -->
</body>

<!-- belle/cart.html   11 Nov 2019 12:47:01 GMT -->
</html>